/* Yarin Ben Moshe 314939885
Amit Rahamim 318816535
Shahar Ben Naim 208628453 */

body{
  background-color: #001021 !important;
  color :#f2f3d9 !important;
}

h1{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh !important;
}

h3{
  display: flex;
  align-items: center;
}


.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.listContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  
  
}

.wide-form{
  width:50%;
  margin: 0 auto; 
}
.total{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button{
  padding: 2rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

